<div class="container vh-100">
	<div class="d-flex flex-column align-items-center">
		<div class="p-1">
			<video #video id="videInput" class="vid" autoplay></video>&nbsp;
			<canvas #canvas id="canvasOutput" class="vid"></canvas>
		</div>
		<div class="pb-2">
			<button class="btn btn-primary" (click)="capture()">Capture Image</button>&nbsp;&nbsp;
			<button class="btn btn-primary" (click)="changeCam()">Change Cam</button>&nbsp;&nbsp;
			<button *ngIf="openCVLoaded" class="btn btn-primary" (click)="toggleStream()">
				<ng-container *ngIf="streaming">Stop</ng-container>
				<ng-container *ngIf="!streaming">Start</ng-container>
			</button>
		</div>
	</div>
</div>
